{% extends 'blog/base.html' %}

{% block title %}{{ post.title }} | SoftHub Blog{% endblock %}

{% block content %}
<article class="mb-5">
    <h1 class="mb-3">{{ post.title }}</h1>
    
    <div class="post-meta text-muted mb-4">
        <span class="me-3"><i class="far fa-calendar-alt"></i> {{ post.created_at|date:"F j, Y" }}</span>
        <span class="me-3"><i class="far fa-user-circle"></i> {{ post.author.get_full_name|default:post.author.username }}</span>
        <span>
            <i class="far fa-folder"></i>
            {% for category in post.categories.all %}
                <a href="{{ category.get_absolute_url }}" class="text-decoration-none">{{ category.name }}</a>{% if not forloop.last %}, {% endif %}
            {% endfor %}
        </span>
    </div>
    
    {% if post.featured_image %}
    <div class="post-featured-image mb-4">
        <img src="{{ post.featured_image.url }}" class="img-fluid rounded" alt="{{ post.title }}">
    </div>
    {% endif %}

    {% if post.excerpt %}
    <div class="post-excerpt mb-4">
        <p class="lead">{{ post.excerpt }}</p>
        <hr class="my-4">
    </div>
    {% endif %}
    
    <div class="post-content mb-5">
        {{ post.content|safe }}
    </div>
    
    <!-- Social Sharing -->
    <div class="card mb-4">
        <div class="card-header">
            <h5 class="mb-0">Share this post</h5>
        </div>
        <div class="card-body">
            <div class="d-flex">
                <a href="https://twitter.com/intent/tweet?text={{ post.title|urlencode }}&url={{ request.build_absolute_uri }}" 
                   target="_blank" class="btn btn-outline-primary me-2">
                    <i class="fab fa-twitter"></i> Twitter
                </a>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri|urlencode }}" 
                   target="_blank" class="btn btn-outline-primary me-2">
                    <i class="fab fa-facebook"></i> Facebook
                </a>
                <a href="https://www.linkedin.com/shareArticle?mini=true&url={{ request.build_absolute_uri|urlencode }}&title={{ post.title|urlencode }}" 
                   target="_blank" class="btn btn-outline-primary">
                    <i class="fab fa-linkedin"></i> LinkedIn
                </a>
            </div>
        </div>
    </div>
    
    <div class="d-flex justify-content-between">
        <a href="{% url 'blog:post_list' %}" class="btn btn-outline-secondary">
            <i class="fas fa-arrow-left"></i> Back to all posts
        </a>
    </div>
</article>
{% endblock %}
